In [76]:
import pymysql
import pandas as pd
import json
import re

In [77]:
import requests
import datetime
from bs4 import BeautifulSoup

In [78]:
import os

In [79]:
import redis
from xpinyin import Pinyin

In [118]:
con = pymysql.connect(
    host='192.168.10.113',
    user='jiashengjie',
    password='jiashengjie',
    database='gaokao')

## 首页新闻

In [28]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:79.0) Gecko/20100101 Firefox/79.0',
    'Accept-Language': 'zh-CN,zh;q=0.8,zh-TW;q=0.7,zh-HK;q=0.5,en-US;q=0.3,en;q=0.2',
    'Accept-Encoding': 'gzip, deflate',
}

In [35]:
day_3_ago = str(datetime.date.today() -
                datetime.timedelta(days=3))

In [36]:
class Basic_Spyder():

    def start_scrap(self, part_url_dict, rule_func):
        result = {}
        for part_name, part_url in part_url_dict.items():
            res = requests.get(part_url, headers=headers)
            soup = BeautifulSoup(res.content, 'html.parser')
            item_lst = rule_func(soup)
            result[part_name] = item_lst
        
        # 剔除列表为空的子版块
        result = {key:value for key,value in result.items() if len(value)>1}

        return result

In [39]:
# 教育部
gj_edu_url_dict = {'公告公示': 'http://www.moe.gov.cn/jyb_xxgk/s5743/s5972/',
                   '最新文件': 'http://www.moe.gov.cn/was5/web/search?channelid=239993',
                   '工作动态': 'http://www.moe.gov.cn/jyb_xwfb/gzdt_gzdt/'}

In [72]:
def gj_edu_rule(soup):
    item_lst = []
    base_url = 'http://www.moe.gov.cn/'
    gzdt_base_url = 'http://www.moe.gov.cn/jyb_xwfb/gzdt_gzdt/'
    part = soup.find('h2').get_text()
    if part == '重要文件':
        news_lst = soup.find_all('ul')[6].find_all('li')
    else:
        news_lst = soup.find('ul',id='list').find_all('li')
    
    for item in news_lst:
        item_dict = {}
        post_date = item.find('span').get_text()
        if post_date < day_3_ago:
            break
        title = item.find('a').get_text()
        if part == '重要文件':
            article_url = item.find('a')['href']
        elif part == '工作动态':
            article_url = base_url + item.find('a')['href'].split('./')[-1]
        else:
            article_url = base_url + item.find('a')['href'].split('../')[-1]
        item_dict['post_date'] = post_date
        item_dict['title'] = title
        item_dict['article_url'] = article_url
        item_lst.append(item_dict)
    return item_lst

In [73]:
basic_spyder = Basic_Spyder()

In [74]:

gj_edu_result = basic_spyder.start_scrap(gj_edu_url_dict, gj_edu_rule)

In [75]:
gj_edu_result

{'公告公示': [{'post_date': '2020-08-28',
   'title': '教育部办公厅关于做好2020年全国成人高校招生工作的通知',
   'article_url': 'http://www.moe.gov.cn/srcsite/A15/moe_777/202008/t20200827_480730.html'},
  {'post_date': '2020-08-28',
   'title': '教育部关于同意南昌职业大学变更举办者的批复',
   'article_url': 'http://www.moe.gov.cn/srcsite/A03/s181/202008/t20200827_480681.html'},
  {'post_date': '2020-08-28',
   'title': '教育部关于同意北京邮电大学世纪学院变更举办者之一和办学地址的批复',
   'article_url': 'http://www.moe.gov.cn/srcsite/A03/s181/202008/t20200827_480708.html'},
  {'post_date': '2020-08-28',
   'title': '教育部关于同意四川外国语大学重庆南方翻译学院变更举办者之一的批复',
   'article_url': 'http://www.moe.gov.cn/srcsite/A03/s181/202008/t20200827_480696.html'},
  {'post_date': '2020-08-28',
   'title': '教育部关于同意沈阳城市建设学院变更举办者的批复',
   'article_url': 'http://www.moe.gov.cn/srcsite/A03/s181/202008/t20200827_480716.html'}],
 '工作动态': [{'post_date': '2020-08-28',
   'title': '关于收看2020年“开学第一课”的提示',
   'article_url': 'http://www.moe.gov.cn/s5987/202008/t20200828_481754.html'},
  {'post_date': '2020-08-28',
   'title': '教育部、工业和信息化部联合启动现代产业学院建设工作',
   'article_url': 'http://www.moe.gov.cn/s5987/202008/t20200828_481664.html'},
  {'post_date': '2020-08-27',
   'title': '教育部江西省共建职业教育创新发展高地',
   'article_url': 'http://www.moe.gov.cn/moe_1485/202008/t20200827_480464.html'},
  {'post_date': '2020-08-26',
   'title': '教育部召开义务教育课程修订第二次全体会议 部署义务教育课程标准修订工作',
   'article_url': 'http://www.moe.gov.cn/moe_1485/202008/t20200827_480433.html'},
  {'post_date': '2020-08-26',
   'title': '深入贯彻习近平总书记重要指示精神 在营养改善计划实施中坚决制止餐饮浪费行为',
   'article_url': 'http://www.moe.gov.cn/s5987/202008/t20200826_480324.html'},
  {'post_date': '2020-08-26',
   'title': '教育部等六部门下发通知联合开展未成年人网络环境专项治理行动',
   'article_url': 'http://www.moe.gov.cn/s5987/202008/t20200826_480307.html'},
  {'post_date': '2020-08-25',
   'title': '教育部联合中国红十字会总会印发通知要求进一步加强和改进新时代学校红十字工作',
   'article_url': 'http://www.moe.gov.cn/s5987/202008/t20200825_480156.html'},
  {'post_date': '2020-08-25',
   'title': '陈宝生调研指导四川教育脱贫攻坚工作',
   'article_url': 'http://www.moe.gov.cn/moe_1485/202008/t20200825_480142.html'},
  {'post_date': '2020-08-25',
   'title': '教育部江西省共建国家职业教育创新发展高地',
   'article_url': 'http://www.moe.gov.cn/s5987/202008/t20200825_479999.html'}]}

## 数据库管理

In [81]:
uni_infos = pd.read_sql('SELECT yxdh,yxmc,sf,cs,zgdw,211_gcgx,985_gcgx,A_yldxjsgxl,B_yldxjsgxl,ylxkjsgx FROM 2020_gxzsjh;',con=con)

In [86]:
uni_infos = uni_infos.drop_duplicates().reset_index(drop=True)

In [92]:
uni_infos['yxdh'] = uni_infos['yxdh'].astype(str).str.zfill(4)

In [94]:
uni_infos.to_excel('院校基本信息.xlsx',index=False,encoding='utf-8-sig')

In [95]:
con.close()

In [96]:
df = pd.read_excel('陕西历年高考数据.xlsx')

In [97]:
df.shape

(18533, 40)

In [98]:
df.columns

Index(['院校名称', '院校代码', '科类', '批次', '专业大类', '专业', '专业附加信息', '2015计划数',
       '2015录取数', '2015平均分', '2015最高分', '2015最低分', '2015最低分差', '2015最低位次',
       '2016计划数', '2016录取数', '2016平均分', '2016最高分', '2016最低分', '2016最低分差',
       '2016最低位次', '2017计划数', '2017录取数', '2017平均分', '2017最高分', '2017最低分',
       '2017最低分差', '2017最低位次', '2018计划数', '2018录取数', '2018平均分', '2018最高分',
       '2018最低分', '2018最低分差', '2018最低位次', '2019录取数', '2019平均分', '2019最高分',
       '2019最低分', '2019最低位次'],
      dtype='object')

In [99]:
common_cols = ['院校名称', '院校代码', '科类', '批次', '专业大类', '专业', '专业附加信息']

In [100]:
year_cols = [col for col in df.columns if col not in common_cols]

In [106]:
year_cols = [year_cols[:7],year_cols[7:14],year_cols[14:21],year_cols[21:28],year_cols[28:]]

In [112]:
df.dropna(subset=)

,院校名称,院校代码,科类,批次,专业大类,专业,专业附加信息,2015计划数,2015录取数,2015平均分,...,2018平均分,2018最高分,2018最低分,2018最低分差,2018最低位次,2019录取数,2019平均分,2019最高分,2019最低分,2019最低位次
0,安徽财经大学,3219,文史,本一批,工商管理类,财务管理,教学地点：安徽省蚌埠市龙子湖区曹山路962号主校区,NaN,NaN,NaN,...,577.0,577.0,577.0,59.0,2666.0,1.0,NaN,578.0,578.0,3467\r
1,安徽财经大学,3219,理工,本一批,NaN,财务管理,教学地点：安徽省蚌埠市龙子湖区曹山路962号主校区,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,545.0,539.0,24628\r
2,安徽财经大学,3219,文史,本一批,财政学类,财政学类,财政学、税收学；教学地点：安徽省蚌埠市龙蚁子湖区曹山路962号主校区,1.0,1.0,549.0,...,569.0,569.0,569.0,51.0,3217.0,1.0,NaN,579.0,579.0,3370\r
3,安徽财经大学,3219,理工,本一批,财政学类,财政学类,财政学、税收学；教学地点：安徽省蚌埠市龙子湖区曹山路962号主校区,2.0,2.0,535.0,...,555.0,567.0,545.0,71.0,20951.0,3.0,NaN,533.0,517.0,34078\r
4,安徽财经大学,3219,理工,本一批,电子商务类,电子商务,NaN,NaN,NaN,NaN,...,547.0,550.0,545.0,71.0,21235.0,NaN,NaN,NaN,NaN,\r

In [113]:
result = pd.DataFrame()
for year_col in year_cols:
    tmp = df[common_cols+year_col]
    year = year_col[0][:4]
    tmp = tmp.dropna(subset=year_col,how='all')
    
    tmp = tmp.rename(columns=lambda x:x.replace(year,''))
    tmp['年份'] = year
    result = result.append(tmp)

d:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [115]:
result.isna().sum()

专业            0
专业大类      12753
专业附加信息    16263
平均分       12142
年份            0
录取数        3742
批次            0
最低位次        749
最低分        4478
最低分差      19276
最高分        4750
科类            0
计划数       18546
院校代码          0
院校名称          0
dtype: int64

In [116]:
result.to_excel('陕西历年高考数据-堆叠版.xlsx',index=False,encoding='utf-8-sig')

In [119]:
result = pd.read_sql('SELECT id,yxdm,yxmc,kl,pc,zyapbf,nf,jhs,tdrs,zdf,zdwc FROM gaokao.szbmntdfsx WHERE yxmc= "江南大学"',con=con)

In [120]:
result

     id  yxdm  yxmc  kl    pc zyapbf    nf  jhs  tdrs  zdf   zdwc
0    68  3012  江南大学  文史  本科一批   分数优先  2015   13    13  549   2985
1   824  3012  江南大学  理工  本科一批   分数优先  2015   46    46  551  14789
2  1662  3012  江南大学  文史  本科一批   分数优先  2016   12    12  555   2984
3  2425  3012  江南大学  理工  本科一批   分数优先  2016   39    39  561  13152
4  3280  3012  江南大学  文史  本科一批   分数优先  2017   11    11  561   2685
5  4059  3012  江南大学  理工  本科一批   分数优先  2017   40    40  555  12042
6  4940  3012  江南大学  文史  本科一批   分数优先  2018   11    11  579   2514
7  5727  3012  江南大学  理工  本科一批   分数优先  2018   40    40  580  12144
8  6611  3012  江南大学  文史  本科一批   分数优先  2019   13    13  588   2554
9  7416  3012  江南大学  理工  本科一批   分数优先  2019   43    43  578  12574

In [121]:
result_4Download = result.drop('id',axis=1)

In [122]:
# 把nf后的列进行横向拓展
year_cols = list(result_4Download.columns)[list(result_4Download.columns).index('nf')+1:]
common_cols = list(result_4Download.columns)[:list(result_4Download.columns).index('nf')]

In [123]:
year_cols

['jhs', 'tdrs', 'zdf', 'zdwc']

In [124]:
common_cols

['yxdm', 'yxmc', 'kl', 'pc', 'zyapbf']

In [127]:
tmp_2015 = result_4Download.query(f'nf=="2015"')

tmp_2015 = tmp_2015.rename(columns=lambda x:f'{x}_{year}' if x in year_cols else x)

tmp_2015 = tmp_2015.drop('nf',axis=1)

tmp_2015 = tmp_2015.set_index(common_cols)

In [132]:
tmp_2015

                          jhs_2019  tdrs_2019  zdf_2019  zdwc_2019
yxdm yxmc kl pc   zyapbf
3012 江南大学 文史 本科一批 分数优先          13         13       549       2985
          理工 本科一批 分数优先          46         46       551      14789

In [133]:
tmp_2016 = result_4Download.query(f'nf=="2016"')

tmp_2016 = tmp_2016.rename(columns=lambda x:f'{x}_{year}' if x in year_cols else x)

tmp_2016 = tmp_2016.drop('nf',axis=1)

tmp_2016 = tmp_2016.set_index(common_cols)

In [134]:
tmp_2016

                          jhs_2019  tdrs_2019  zdf_2019  zdwc_2019
yxdm yxmc kl pc   zyapbf
3012 江南大学 文史 本科一批 分数优先          12         12       555       2984
          理工 本科一批 分数优先          39         39       561      13152

In [135]:
pd.concat([tmp_2015,tmp_2016])

                          jhs_2019  tdrs_2019  zdf_2019  zdwc_2019
yxdm yxmc kl pc   zyapbf
3012 江南大学 文史 本科一批 分数优先          13         13       549       2985
          理工 本科一批 分数优先          46         46       551      14789
          文史 本科一批 分数优先          12         12       555       2984
          理工 本科一批 分数优先          39         39       561      13152

In [125]:
result_final = pd.DataFrame()
for year in result_4Download['nf'].unique():
    tmp = result_4Download.query(f'nf=="{year}"')
    tmp = tmp.rename(columns=lambda x:f'{x}_{year}' if x in year_cols else x)
    tmp = tmp.drop('nf',axis=1)
    tmp = tmp.set_index(common_cols)
#     tmp.to_excel('tmp.xlsx',encoding='utf-8-sig')
    result_final = pd.concat([tmp,result_final])

d:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [126]:
result_final

                          jhs_2015  jhs_2016  jhs_2017  jhs_2018  jhs_2019  \
yxdm yxmc kl pc   zyapbf
3012 江南大学 文史 本科一批 分数优先         NaN       NaN       NaN       NaN      13.0
          理工 本科一批 分数优先         NaN       NaN       NaN       NaN      43.0
          文史 本科一批 分数优先         NaN       NaN       NaN      11.0       NaN
          理工 本科一批 分数优先         NaN       NaN       NaN      40.0       NaN
          文史 本科一批 分数优先         NaN       NaN      11.0       NaN       NaN
          理工 本科一批 分数优先         NaN       NaN      40.0       NaN       NaN
          文史 本科一批 分数优先         NaN      12.0       NaN       NaN       NaN
          理工 本科一批 分数优先         NaN      39.0       NaN       NaN       NaN
          文史 本科一批 分数优先        13.0       NaN       NaN       NaN       NaN
          理工 本科一批 分数优先        46.0       NaN       NaN       NaN       NaN

                          tdrs_2015  tdrs_2016  tdrs_2017  tdrs_2018  \
yxdm yxmc kl pc   zyapbf
3012 江南大学 文史 本科一批 分数优先          NaN        NaN        NaN        NaN
          理工 本科一批 分数优先          NaN        NaN        NaN        NaN
          文史 本科一批 分数优先          NaN        NaN        NaN       11.0
          理工 本科一批 分数优先          NaN        NaN        NaN       40.0
          文史 本科一批 分数优先          NaN        NaN       11.0        NaN
          理工 本科一批 分数优先          NaN        NaN       40.0        NaN
          文史 本科一批 分数优先          NaN       12.0        NaN        NaN
          理工 本科一批 分数优先          NaN       39.0        NaN        NaN
          文史 本科一批 分数优先         13.0        NaN        NaN        NaN
          理工 本科一批 分数优先         46.0        NaN        NaN        NaN

                          tdrs_2019  zdf_2015  zdf_2016  zdf_2017  zdf_2018  \
yxdm yxmc kl pc   zyapbf
3012 江南大学 文史 本科一批 分数优先         13.0       NaN       NaN       NaN       NaN
          理工 本科一批 分数优先         43.0       NaN       NaN       NaN       NaN
          文史 本科一批 分数优先          NaN       NaN       NaN       NaN     579.0
          理工 本科一批 分数优先          NaN       NaN       NaN       NaN     580.0
          文史 本科一批 分数优先          NaN       NaN       NaN     561.0       NaN
          理工 本科一批 分数优先          NaN       NaN       NaN     555.0       NaN
          文史 本科一批 分数优先          NaN       NaN     555.0       NaN       NaN
          理工 本科一批 分数优先          NaN       NaN     561.0       NaN       NaN
          文史 本科一批 分数优先          NaN     549.0       NaN       NaN       NaN
          理工 本科一批 分数优先          NaN     551.0       NaN       NaN       NaN

                          zdf_2019  zdwc_2015  zdwc_2016  zdwc_2017  \
yxdm yxmc kl pc   zyapbf
3012 江南大学 文史 本科一批 分数优先       588.0        NaN        NaN        NaN
          理工 本科一批 分数优先       578.0        NaN        NaN        NaN
          文史 本科一批 分数优先         NaN        NaN        NaN        NaN
          理工 本科一批 分数优先         NaN        NaN        NaN        NaN
          文史 本科一批 分数优先         NaN        NaN        NaN     2685.0
          理工 本科一批 分数优先         NaN        NaN        NaN    12042.0
          文史 本科一批 分数优先         NaN        NaN     2984.0        NaN
          理工 本科一批 分数优先         NaN        NaN    13152.0        NaN
          文史 本科一批 分数优先         NaN     2985.0        NaN        NaN
          理工 本科一批 分数优先         NaN    14789.0        NaN        NaN

                          zdwc_2018  zdwc_2019
yxdm yxmc kl pc   zyapbf
3012 江南大学 文史 本科一批 分数优先          NaN     2554.0
          理工 本科一批 分数优先          NaN    12574.0
          文史 本科一批 分数优先       2514.0        NaN
          理工 本科一批 分数优先      12144.0        NaN
          文史 本科一批 分数优先          NaN        NaN
          理工 本科一批 分数优先          NaN        NaN
          文史 本科一批 分数优先          NaN        NaN
          理工 本科一批 分数优先          NaN        NaN
          文史 本科一批 分数优先          NaN        NaN
          理工 本科一批 分数优先          NaN        NaN

In [ ]:


        
        
        
        
        result_final = result_final.reset_index()